---
import { Image } from "astro:assets";
import LogoDesktop from "../assets/images/logo-desktop.svg";
import Facebook from "../assets/images/facebook.png";
import Instagram from "../assets/images/instagram.png";
---

<div class="bg-gron500 border-2 border-gul500 p-m m-m">
  <div class="flex flex-col md:flex-row items-center md:justify-between">
    <div class="mb-l md:mb-0 md:py-m">
      <Image src={LogoDesktop} alt="La Glace´s Logo" class="mx-auto md:mx-0" />
    </div>
    <div class="flex flex-col md:items-center md:flex-row md:gap-m">
      <div class="mb-l md:mb-0 md:mr-l items-center">
        <ul class="mt-s md:mt-0 text-center md:text-left">
          <li class="text-hvid m-s"><a href="/kager/">Sortiment</a></li>
          <li class="text-hvid m-s"><a href="#">Besøg La Glace</a></li>
          <li class="text-hvid m-s"><a href="#">Nyheder</a></li>
        </ul>
      </div>
      <div class="mb-l md:mb-0 md:mr-l">
        <ul class="mt-s md:mt-0 text-center md:text-left">
          <li class="text-hvid m-s"><a href="/om/">Historien</a></li>
          <li class="text-hvid m-s"><a href="#">Gaver</a></li>
          <li class="text-hvid m-s"><a href="#">Foredrag og kurser</a></li>
        </ul>
      </div>
      <div class="mt-s mb-l md:mt-0 md:mb-0 md:mr-xl text-center md:text-left">
        <p class="text-hvid m-s">Telefon:<br />+45 33 14 46 46</p>
        <p class="text-hvid m-s">Email:<br />conditori@laglace.dk</p>
        <p class="text-hvid m-s">
          Adresse:<br />Conditori La Glace<br />Skoubogade 3 - 1158 København
        </p>
      </div>
      <div class="mt-s md:mt-0 text-center md:text-left">
        <p class="text-hvid m-s">Nyhedsbrev</p>
        <p class="text-hvid m-s">Tilmeld dig her</p>
        <div class="border-b-2 border-gul500">
          <input
            type="email"
            placeholder="Email adresse"
            class="bg-gron500 placeholder-hvid border-b-2 border-gron500 text-center md:text-left"
          />
        </div>
        <div class="flex justify-center md:justify-start gap-s mt-m">
          <Image src={Facebook} alt="Facebook logo" />
          <Image src={Instagram} alt="Instagram logo" />
        </div>
      </div>
    </div>
  </div>
</div>
