---
import { Image } from "astro:assets";
import karussel1 from "../assets/images/frontpage/frontpage carousel_1.webp";
import karussel2 from "../assets/images/frontpage/frontpage carousel_2.webp";
import karussel3 from "../assets/images/frontpage/frontpage carousel_3.webp";
import karussel4 from "../assets/images/frontpage/frontpage carousel_4.webp";
import karussel5 from "../assets/images/frontpage/frontpage carousel_5.webp";

const images = [
  karussel1,
  karussel2,
  karussel3,
  karussel4,
  karussel5,
  karussel1,
  karussel2,
  karussel3,
  karussel4,
  karussel5,
];
---

<div x-data="{ current: 0 }" class="relative overflow-x-auto w-full my-l shake">
  <div
    class="flex flex-nowrap transition-transform duration-500"
    :style="'transform: translateX(-' + current * (100 / 5) + '%)'"
  >
    {
      images.map((image, index) => (
        <div class="w-1/3 md:w-1/5 flex-shrink-0">
          <Image
            src={image}
            alt={`Carousel image ${index + 1}`}
            class="w-full h-full object-cover"
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin: 100% 0%;
    -webkit-animation-iteration-count: infinite;
  }
  .shake:hover {
    -webkit-animation-iteration-count: 0;
  }
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: translateX(-4px);
    }

    50% {
      -webkit-transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(-4px);
    }
  }
</style>
