---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import bryllupskager from "../assets/images/sortiment/bryllupskager.webp";
---


---
import MainLayout from "../layouts/MainLayout.astro";
import Produktliste from "../components/Produktliste.astro";
import section1_1 from '../assets/section1_1.jpg';
---



<section class="relative py-16  bg-beige">
  <div class="relative p-[10px] md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 text-center">
    <p class="text-mserifh1 md:text-serifh1 text-gron500 mb-m md:mb-2 underline decoration-solid decoration-2 underline-offset-off md:underline-offset-big decoration-gul500 font-serif">
      Lagkager
    </p>
    <p class="text-mnormalh4 md:text-normalh3 text-neu500 font-normal mx-mxxl md:mx-0">
      Alle lagkager består af minimum én mousse med diverse lækre ingredienser,
      oven på en luftig bund der fremhæver de forskellige smage. Øverst ligger
      der nøje udvalgt pynt, der løfter den enkelte kage til et højere niveau.
    </p>
  </div>
</section>

 <section class="bg-beige mx-auto" style="height: 604px; width: 1728px;">
    <div class="flex justify-center items-center h-full">
      <div class="text-center">
        <h1 class="text-5xl font-bold">Sortiment</h1>
        <h3 class="text-2xl mt-4">Vores sortiment spænder bredt, og vi er stolte af, at kunne levere kager til diverse begivenheder og højtider.</h3>
      </div>
    </div>
  </section>



