---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import bryllupskager from "../assets/images/sortiment/bryllupskager.webp";
import type { Code } from "astro:components";
import kage1 from "../assets/illustrationer/kage1.svg"
import kaffe from "../assets/illustrationer/kaffe.svg"
---


<section class="bg-beige w-full h-[604px] flex items-center justify-center">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center w-full max-w-screen-xl px-4">
    <div class="hidden md:flex justify-center">
      <Image src={kage1} alt="kage" class="inline w-80" />
    </div>
    <div class="text-center">
      <p class="text-3xl md:text-5xl text-gron500 mb-4 md:mb-8 underline decoration-solid decoration-2 underline-offset-4 md:underline-offset-8 decoration-gul500 font-serif">
        Sortiment
      </p>
      <p class="text-lg md:text-2xl text-neu500 font-normal mx-auto max-w-3xl">
        Vores sortiment spænder bredt, og vi er stolte af, at kunne levere kager 
        til diverse begivenheder og højtider.
      </p>
    </div>
    <div class="hidden md:flex justify-center">
      <Image src={kaffe} alt="kaffe" class="inline w-80" />
    </div>
  </div>
</section>







   



